body{
	max-width: 100%;

}
.container-fluid{
	background-color: rgb(255,255,255);
}
header{
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	padding: 10px;
	position: absolute;
	z-index: 1;
}
header>ul{
	list-style: none;
	float: left;
}
header>ul>li{
	float: left;
	padding: 3px;
}
li>a{
	color: rgb(240,240,240);
}
li>a:hover{
	text-decoration: none;
	color: rgb(144,135,194);
}
.wrapper{
	max-width: 100%;
}
#front-slide{
	height: 730px;
	padding: 0;
}
#fcarrousel{
	max-width: 100%;
	height: 200px;
	background-color: rgb(255,255,255);
	padding: 0;
}
.fc_box{
	height: 100%;
	background-color: rgb();
	border-right:1px solid rgba(50,50,50,0.2);
	background-repeat: no-repeat;
	background-size: cover; 
}
#fcarrousel .fc_box{
	padding: 0;
}
.fc_box:last-child{
	border-right: 0;
}
.fc_box img{
	/*height: 100%;*/
	
}


/*FOOTER*/
footer{
	background-color: rgb(120,120,120);
	color: rgb(255,255,255);
	height: 400px;
}
.f_camp{
	height: 100px;
	padding: 10px;
	border-right: 1px solid rgba(85,148,203,0.1);
	border-bottom: 1px solid rgba(85,148,203,0.1);
	overflow: hidden;
}
.f_camp_r{
	height: 300px;
	padding: 10px;
	border-bottom: 1px solid rgba(85,148,203,0.1);
	overflow: hidden; 	
}
.f_camp_b{
	padding: 10px;
	margin: 0 auto;
}
form .col-xs-2{
	margin-right: 5px;
}

@media only screen and (max-width: 768px){
	#front-slide{
	height: 350px;
	padding: 0;
	}
}